body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-copyright .container a {
    color: #ff4081 !important; /*GO TO LINK_COLOR*/
}

.manage-header{
    background: url("../img/manage-background.png");
    width:100%;
    height:40vh;
    background-color:#3F51B5;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    background-position:center;
    background-size:cover
}

.manage-user-fab-add{
    right: -18px !important;
    top: 50px !important;
}

.table-manage-user{
    text-align: center;
}

.manage-content{
    padding: 25px;
    margin-top:-35vh;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex:0 1 auto;
    display:block;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    z-index:1;
    -webkit-overflow-scrolling:touch
}
.manage-users-add{
        float: none;
        margin: 10px;
    width: 80%;
    max-width: 200px;
}
@media only screen and (min-width: 993px){
    .manage-users-add{
        float: right;
        width: auto;
    }
}

.cursor-pointer{
    cursor:pointer;
}

/* label focus color */
.input-field input:focus + label {
    color: #ff4081 !important; /*GO TO LOGIN_ACCENT_COLOR*/
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #ff4081 !important; /*GO TO LOGIN_ACCENT_COLOR*/
    box-shadow: 0 1px 0 0 #ff4081 !important; /*GO TO LOGIN_ACCENT_COLOR*/
}


.input-group {
    display: table;
}

.input-group input, .suffix {
    display: table-cell;
}

.suffix {
    width:1%;
}
input, button, submit {
    border:none;
    background: transparent;
    text-transform: uppercase;
} 
.plans-container .collection {
    border: none;
}
.plans-container .collection .collection-item {
    border-bottom: none;
    text-align: center;
    font-size: 1.07rem;
    line-height: 1.6em;
}
.plans-container .collection .collection-item:before {
    font-size: 1.28rem;
    line-height: 1.6em;
    color: #009315;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    content: "\e623";
    margin-right: 10px;
}
.plans-container .card .card-image {
    position: relative;
    width: 100%}
.plans-container .card .card-image .card-title {
    position: relative;
    font-size: 1.28rem;
    line-height: 1.6em;
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1);
}
.plans-container .card .card-image .price {
    position: relative;
    font-size: 5rem;
    line-height: 1.6em;
    color: #fff;
    font-weight: 300;
    text-align: center;
}
.plans-container .card .card-image .price sup {
    font-weight: 100;
    font-size: 1.42rem;
    line-height: 1.6em;
    top: -35px;
}
.plans-container .card .card-image .price sub {
    font-weight: 100;
    font-size: 1.42rem;
    line-height: 1.6em;
    top: 0;
}
.plans-container .card .card-image .price-desc {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
}
.plans-container .card .card-content {
    padding: 0;
}